html, body {
  font-family: sans-serif;
}

button {
  font-size: 18pt;
  padding: 10px;
  border-radius: 8px;
}

li {
  margin-bottom: 12px;
}

li > a {
  display: block;
}

.face {
  width: 300px;
  display: inline-block;
}

.face img {
  max-width: 280px;
}

video, canvas, img, audio {
  max-width: 100%;
}

audio {
  display: block;
}

textarea {
  font-size: 16pt;
}
